<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projekt2pjatk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projekt2pjatk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Projekt2Pjatk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Projekt2Pjatk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="s11027ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:l2yirqa8tq.database.windows.net,1433;Initial Catalog=Projekt2Pjatk_db;User ID=kelu@l2yirqa8tq;Password=mukHiNU00YUDVZ5zs5vD" Name="Data Source=tcp:l2yirqa8tq.database.windows.net,1433;Initial Catalog=Projekt2Pjatk_db;User Id=kelu@l2yirqa8tq;Password=mukHiNU00YUDVZ5zs5vD" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-mssql.pjwstk.edu.pl;Initial Catalog=s11027;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\s11027ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=db-mssql.pjwstk.edu.pl;Initial Catalog=s11027;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\Skrypt DDL.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.edycja_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.karta_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.karty_talia_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.talia_add.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.talia_del.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.talia_karta_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.talie_uzytkownika_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.uzytkownicy_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.uzytkownik_sel.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="..\..\Skrypty\dbo.uzytkownik_zmien_haslo.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)s11027ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l2yirqa8tq.database.windows.net,1433;Initial Catalog=Projekt2Pjatk_db;User Id=kelu@l2yirqa8tq;Password=mukHiNU00YUDVZ5zs5vD</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>